 <div  class="header w100 bp0" style="border-bottom:solid #ccc 1px">
          <label for="left">
           <i class="fa fa-bars fa-2x va-center" style="margin-left:8px" aria-hidden="true"></i>
           <i class="fa fa-sign-out  fa-2x va-center exit" aria-hidden="true" (click)="exit()"></i>
           </label> 
         
     </div>


<!-- <div class="header">
 <div style="text-align:center;margin-right:10px;">
 <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Wikimedia-logo.png"     height="48" />
  <div style="width:100%;text-align:center;font-size:25px;">Min System</div>
  </div>

<div style="flex:1;display:flex;justify-content: space-around">
   -->
   
<!-- 
	<ng-container *ngFor="let item of appGlobal.navInfo | filter:['!=','Permission'];let i=index;">
	   <input  id="radio{{i}}" type="radio"  name="navs"  (click)="navs(item)" value="{{item}}" [(ngModel)]="navFirst" />

	   <label   for="radio{{i}}"  >
	      	  <img src="assets/img/{{item}}.png"     height="36" />
		  <div>{{item}}</div>
      </label >
   </ng-container> -->
<!-- </div>

		<div style="flex:1;display:flex;-webkit-justify-content: flex-end; 
		  justify-content: flex-end; ">

		  		<ng-container *ngFor="let item of appGlobal.navInfo | filter:['=','Permission'];let i=index">
			          <input type="display:none" id="radioA" type="radio"  name="navs"  (click)="navs('permission')" />
			         <label   for="radioA">
					    <img src="assets/img/perm.png"  height="36" />
					  <div style="">Permission</div>
					  </label>
				   </ng-container>
		          
		         <input type="display:none"  id="radioB" type="radio"  name="navs"  (click)="navs('me')" />
				 <label  for="radioB">
				    <img src="assets/img/me.png"    height="36" />
				  <div>&nbsp;&nbsp;&nbsp;Me&nbsp;&nbsp;&nbsp;</div>
				  </label>
		           
		           <input id="radioZ" type="checkbox"  name="language"  (click)="language()" />
		          <label  for="radioZ">
				    <img src="assets/img/united-states.png"    height="36" />
				  <div>中文</div>
				  </label>

		           <input type="display:none" id="radioC" type="radio"  name="navs" (click)="exit()" />  
				   <label  for="radioC">
				    <img src="assets/img/exit.png"     height="36" />
				     <div>Exit</div>
				  </label>



		</div>



</div>
 -->


