<div class="setting">
		<div class="s-left">
				<div class="sheader">Setting</div>
				<div class="scontent ofy">
						<div  *ngFor="let item of settingList;let i=index;" [ngClass]="{'s-select':i==isSelect}" (click)="isSelect=i;select(item)">

							<div style="margin-right:auto;">{{item.group}}</div><div><i class="fa fa-angle-double-right" aria-hidden="true" style="line-height:40px"></i> </div>
						</div>
					
				
			</div>		
		</div>

		<div class="s-right">
		<!-- *ngFor="let item of settingList;let i=index;" data-title="{{i}}"  -->
					<form   #f="ngForm"
          (ngSubmit)="save()" class="w100 h100">
					<div  class="s-fieldset" >
			           			<div class="sheader">{{settingForm.group}}</div>
			           			<input class="submit s-submit" type="submit" value="Save" [disabled]="!f.valid"	>
					    	   	<div style="flex:0 1 30%;height:60px;"  *ngFor="let v of settingForm.value;let i=index;">
											<div class="row" *ngIf="v.type=='input'">
								              <input placeholder=" " [(ngModel)]=v.value  name="n{{i}}" required/>
							                  <label>{{v.name}}</label> 
											</div>
										
										<div  *ngIf="v.type=='checkbox'" style="font-size:60px;text-align:center;">
								          
								          <input  type="checkbox"  checked="checked"  id="V{{i}}" [(ngModel)]=v.value name="n{{i}}">
							              <label for="V{{i}}" style="font-size:1.3rem">{{v.name}}

							              </label>

	                                     </div>

											<div *ngIf="v.type=='radio'" style="font-size:60px;text-align:center;">
											  <label style="font-size:1.2rem">{{v.name}}</label> 
								             <select [(ngModel)]="v.select" style="height:30px;line-height:30px;font-size:1.3rem" name="n{{i}}"> 
	    										<option *ngFor="let obj of v.value;let i=index;"  
	    										  [attr.value]='obj'>{{obj}}</option>
										   </select> 
							                
											</div>
											
								</div>

							
							
					 </div>
					 </form>
	
							
		</div>
</div>