<!-- 
<div class="mask" *ngIf="!!appGlobal.isDel">
</div> -->
<!-- <div class="mask-flex flex-center" *ngIf="!!appGlobal.isDel"> 
		<div (click)="ok(true)">OK</div> (click)="appGlobal.isDel=false"
		<div (click)="ok(false)">Cancel</div>
</div>
 -->

<div class="mask" *ngIf="!!appGlobal.isDel" >
</div>
<div class="mask-flex flex-center psr" style="z-index:999999" *ngIf="!!appGlobal.isDel" (click)="appGlobal.isDel=false"> 
        
        <div class="deleteBnt bc" (click)="stop($event); $event.stopPropagation();false">
          <div> <h1>Are you Delete?</h1></div>
          <div class="px50 flex-row" style="line-height:2;justify-content:space-around">
              <input type="button" class="submit" (click)="ok(false)" value="Cancel"/> 
              <input type="button" class="submit" (click)="ok(true)" value="Delete"/> </div>
       </div>
</div>
