<div class="flex-norow h100">
	  <input  id="left" type="checkbox" class="left-bar" />
	  <div class="left flex-column h100" >
	  	      <div class="va-center bc px50" style="padding-right:5px;font-size:1.4rem">
		          	<img  class="va-center logo"  src="{{appGlobal.picUrl}}{{appGlobal.storeInfo.logo}}" width=30 />
		  	      	<span  class="va-center" style="font:16px">Menu{{appGlobal.storeInfo.name}}</span>
	  	      </div>
	  	      <div class="flex ofy row-child" style="-webkit-overflow-scrolling:touch;" #divHeight>	<!--  | filter:['objectToArray'] -->
	  	      <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center select" >
	  	      Appetizer From Kitchen
	  	      </div>
	  	         <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center" >
	  	      Appetizer From Kitchen
	  	      </div>   <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center" >
	  	      Appetizer From Kitchen
	  	      </div>   <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center" >
	  	      Appetizer From Kitchen
	  	      </div>   <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center" >
	  	      Appetizer From Kitchen
	  	      </div>   <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center" >
	  	      Appetizer From Kitchen
	  	      </div>   <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center" >
	  	      Appetizer From Kitchen
	  	      </div>   <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center" >
	  	      Appetizer From Kitchen
	  	      </div>   <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	 
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center" >
	  	      Appetizer From Kitchen
	  	      </div>   <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center" >
	  	      Appetizer From Kitchen
	  	      </div>   <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center" >
	  	      Appetizer From Kitchen
	  	      </div>   <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center" >
	  	      Appetizer From Kitchen
	  	      </div>   <div style="min-height:40px;line-height:40px;word-break:break-all" class="test1 va-center">
	  	     Soup/Salad
	  	      </div>
	  	      <div style="min-height:40px;line-height:40px" class="test1 va-center" >
	  	      Appetizer From Kitchen111
	  	      </div>
	\
                 <div style="height:45px">x</div>
		  	  </div>    
 </div>

			<div  class="wrap h100 flex-nocolumn bp0 flex">
			     		 <app-header></app-header>
				      <div  class="content" style="height:calc(100% - 45px);">
				      	<router-outlet></router-outlet> 
				      </div>
			       
			</div>


</div>




<div style="font-size:12px;position:absolute;bottom:0;left:0;right:0;height:45px;line-height:45px;display:flex;text-align: center;" class="bg-green px45">
			<div class="flex flex-column flex-center" style="border-top:solid #BF360C 2px;line-height:1.2;color:#BF360C;font-weight:600">
				
				<img src="/assets/img/menu.png" style="background:#BF360C" width="24px"/>
				 Menus 
			</div>
			<div class="flex flex-column flex-center" style="line-height:1.2;color:yellow">
				
				<img src="/assets/img/discount.png" style="color:red" width="24px"/>
				 Coupons 
			</div>
			<div class="flex flex-column flex-center" style="line-height:1.2;color:yellow">
				
				<img src="/assets/img/order.png" style="color:yellow" width="24px"/>
				 Order 
			</div>
			<div class="flex flex-column flex-center" style="line-height:1.2;color:yellow">
				
				<img src="/assets/img/me.png" style="color:yellow" width="24px"/>
				 Me 
			</div>

			<!-- <div class="flex">Coupons</div>
			<div class="flex">Order</div>
			<div class="flex">Me</div> -->
</div>
